/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
*/
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
    font-display: fallback;
}
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
    font-display: fallback;
}
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
    font-display: fallback;
}
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
    font-display: fallback;
}
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
    font-display: fallback;
}
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
    font-display: fallback;
}

body{
    margin: 0px;
    background-color: #c5ffd5;
    font-family: "Noto Sans TC", Arial, Helvetica, sans-serif;
}

.home-sidebar {
    flex-direction: column;
    width: 160px;
    background-color: #18964c;
    top: 0;
    bottom: 0;
    position: fixed;
    float:left
}

.home-sidebar h1{
    color: rgb(197, 242, 73);
}
.home-sidebar a li{
    display:block;
    padding: 0px;
    padding-left: 10px;
    width: 150px;
    height: 30px;
    text-decoration: none;
    border-radius: 10px;
    transition:all ease 0.2s ;
}
.home-sidebar a li:hover{
    
    margin-left: 10px;
    background-color: #108801;
    transition:all ease 0.2s ;
}


.home-sidebar a{
    text-decoration: none;
    color: azure;
}

.home-sidebar ul{
    margin: 0px !important;
    padding: 0px !important;
    width: 120px;
    background-color: #18964c;
}

.home-practice-btn{
    border: #009e25 5px solid;
    border-radius: 10px;
    margin: 10px;
    margin-left: 170px;
    display:flex;
    background-color: #74ff9c;
    flex-wrap: wrap;
    a{
        height: 50px;
    width: 100%;
    text-align: center;
    margin: 10px;
    border: 2px solid #009e25;
    background-color: #52ae67;
    transition:all ease 0.2s ;
    text-decoration: none;
    color: white;
    font-size: 20px;
    }
    a:hover{
        border: 2px solid #00ff3c;
        background-color: #0c7925;
        transition:all ease 0.2s ;
    }
}

.home-practice-btn button{
    text-align: center;
    margin: 10px;
    border: 0px;
    background-color: transparent;
    transition:all ease 0.2s ;
    text-decoration: none;
    color: white;
    font-size: 20px;
}


.imgg-gg{
    color:#1E88E5;
    width:100%;
    padding:0px;
    border:0px;
    bottom:0px;
}

.home-daily{
    border: #009e25 5px solid;
    border-radius: 10px;
    margin: 10px;
    margin-left: 170px;
    background-color: #74ff9c;
    flex-wrap: wrap;
    padding: 10px;
}

.home-daily h1{
    text-align: center;
}

.home-daily-choose-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-daily-choose-btn button{
    margin: 10px;
}

.duo-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #74ff9c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.duo-button button{
    width: 50px;
}

.duo-question{
    font-size: 50px;
    text-align: center;
}


.practice-page{
    text-align: center;
    button{
        width: 80px;
        margin: 10px;
        height: 40px;
        background-color: #00f2ca;
        transition:all ease 0.2s ;
        box-shadow: 0px 0px 0px rgb(0, 244, 0);
        border-radius: 5px;
    }
    button:hover{
        background-color: #00ffd5;
        box-shadow: 5px 10px 6px rgba(0, 244, 0, 0.526);
        transform: translate(0px, -10px);
        
    }
}