:root{
    --clr-quiz-block-background: #aaffc0;
    --clr-quiz-block-border: #6bd686;
    --clr-quiz-QText-bg: #1eff57;
    --clr-quiz-QText-border: #359e4f;
    --clr-score-background: #747474;
    --clr-score-bar: #f2fff2;
    --clr-score-bar-bg: #91c291;
    --clr-score-du: 10px;
}
